@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*Começo do CSS do Menu lateral*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
    height: 100%;
}

header#Cabecalho {
    background-color: #F1F1F1;
    width: 100%;
    height: 20%;
}

header#LogoUVV {
    width: 16rem;
    height: 8.6rem;
    margin-top: 0.18rem;
    margin-bottom: 0.18rem;
}

main#Mainline {
    display: flex;
    height: 100%;
    position: relative;
}

nav#BarraLateral {
    background-color: #1F1273;
    width: 17%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav section#Aluno {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4.25rem;
    display: flex;
    color: white;
    font-family: 'Ubuntu';
    flex-wrap: wrap;
    margin-top: 2rem;
}

nav section#Aluno p {
    flex-wrap: wrap;
    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

nav section#Navegacao {
    flex-wrap: wrap;
    border-radius: 1.25rem;
    margin-left: 0.8rem;
    margin-right: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
    height: auto;
    width: 85%;
    background-color: #1B0C54;
}

nav section#Navegacao ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    list-style-type: none;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
}

nav section#Navegacao ul li {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0.5rem;
}

nav section#Navegacao ul li a {
    margin: 0;
    padding: 0;
    font-style: normal;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

nav section#Navegacao ul li a:hover {
    color: #614bee;
    text-shadow: 1px 1px;
}

nav footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 10rem;
    margin-left: 1rem;
}


nav footer img {
    object-fit: cover;
}

nav footer p {
    flex-wrap: wrap;
    margin-left: 0.5rem;
}

nav footer #SairConta {
    color: #00F0FF;
}

nav footer #SairConta:hover {
    cursor: pointer;
}

/*Fim do CSS lateral*/

#Conteudo {
    flex-grow: 1;
    height: 100%;
}

#BlocosInfo {
    margin-top: 130px;
    margin-left: 118px;
    display: flex;
}

#Creditos {
    margin-top: 84px;
    margin-left: 757px;
}

#Aluno {
    margin-left: 17px;
    margin-bottom: 68px;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Ubuntu';
}

#Palavras_Info {
    margin-left: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Ubuntu';
}

#Palavras_Terms {
    margin-left: 51px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Ubuntu';
}

#Palavras_Copyright {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Ubuntu';
    color: #717171;
}

#EstadoCertificadosMaior {
    margin-left: 64px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#EstadoCertificados {
    margin-left: 97px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#UltimosCertificados {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 37px;
}

#VerCertificados {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 951px;
    color: #038181;
}

#VerCertificados>a {
    text-decoration: none;
    color: #038181;
}

#VerCertificados>a:hover {
    color: #74c0c0;
}

.LegendasSuporte {
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu';
    align-items: center;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.Bloco {
    margin-right: 43px;
    height: 174.16px;
    width: 337px;
    border: 2px solid black;
}

.BlocoGeral {
    position: relative;
    margin-top: 65px;
    margin-left: 118px;
    /*height: 287.27px;*/
    height: auto;
    width: 1489px;
    border: 2px solid black;
}

.BlocoGeral>.tabelaCertificados tr th {
    padding: 20px;
    margin: auto;
    border-left: 1px solid black;
    border-collapse: collapse;
    width: 300px;
}

.BlocoGeral>.tabelaCertificados th td {
    padding: 20px;
    margin: auto;
    border-left: 1px solid black;
    border-collapse: collapse;

}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 1400px;
}

.BlocoGeral>.tabelaCertificados tr td {
    border-left: 1px solid black;
    border-collapse: collapse;
}

table {
    display: block;
    border: 1px solid black;
    margin: auto;
    margin-left: auto;
    height: auto;
    margin-bottom: 30px;
}

thead {
    top: 0;
    background-color: #f2f2f2;
}

th {
    background-color: #717171;

}

td {
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;


}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


.Icones {
    padding-right: 27px;
}

.ImgFotoAluno {
    margin-right: 13px;
}

.IconeNavegarIcones {
    padding-top: 12px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.IconeNavegarPalavras {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 13px;
}

.IconesClasse {
    margin: 1px;
}

.IconeAluno {
    padding-top: 583px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 25px;
}